body {
    background-color: #000000 !important;
    color: #ff0000 !important;
}

.home h1 {
    margin-left: 20px;
    color: red;
}

.home h2 {
    margin-left: 20px;
}

.home ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.movie-poster {
    width: 100px;
    height: 200px;
    border-radius: 8px;
}