.individual-movies {
    margin-left: 20px;
    color: #ff0000;
}

.individual-movies .page-header-movie {
    font-size: 35px;
}

.individual-movies .description-imageurl {
    display: flex;
}

.individual-movies .description-imageurl p {
    max-width: 500px;
    margin-left: 20px;
    border: 1px solid #ff0000;
    padding: 10px;
}

.individual-movies .reviews-section .review {
    max-width: 530px;
    border: 1px solid #ff0000;
    padding-left: 10px;
}

.description-imageurl img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.description-box {
    display: inline-block;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    white-space: pre-wrap;
    overflow: auto;
}
