.recent-releases h2 {
    margin-left: 20px;
}

.recent-releases ul {
    margin-left: -15px;
    list-style-type: none;
}

.recent-releases a {
    text-decoration: none;
    color: #ff0000;
}

.recent-releases ul h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.movie-cover {
    width: 150px;
    border-radius: 8px;
    object-fit: cover;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.movie-cover:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Shadow effect */
    transform: scale(1.03); /* Slight zoom on hover */
    cursor: pointer;
}