.movies-container .select-subgenre {
    margin-left: 15px;
    background-color: #000000;
    color: #ff0000;
    border: 1px solid #ff0000;
    width: 200px;
}

.movies-container .select-subgenre:hover {
    background-color: #575757;
}

.movies-container .select-subgenre option {
    background-color: #000000;
}

.movies-container .search-bar {
    margin-left: 15px;
    font-size: 16px;
    background-color: #000000;
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 5px 15px;
    width: 200px;
}

.movies-container input:hover {
    background-color: #575757;
}

.movies-container ul {
    list-style-type: none;
}

.movies-container input::placeholder {
    color: #ff0000;
    opacity: 1;
}

.movies-container ul li {
    margin-left: -15px;
}

.movies-container ul li .add-movie-btn {
    color: #ff0000;
    background-color: #000000;
    border: 1px solid #ff0000;
}

.movies-container ul li h3 .add-movie-btn:hover {
    background-color: #575757;
}

.movies-container ul li h3:hover {
    text-decoration: underline;
}

.movies-container a {
    text-decoration: none;
    color: #ff0000;
}